:root {
  --desktop-width: 1440px;
  --laptop-width: 1024px;
  --tablet-width: 768px;
  --mobile-big-width: 414px;
  --light-blue: #70d6ff;
  --lighter-blue: #3da6d0;
  --blue: #2f3c7e;
  --royal-blue: #234e70;
  --pink: #fbeaeb;
  --pale-yellow: #fbf8be;
  --beige: #ddc3a5;
  --black-brown: #201e20;
  --tan: #e0a96d;
  --orange: #fa0;
}

html {
  font-size: 10px;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a, a:hover {
  transition: all .4s ease-in-out;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Light.woff2') format('woff2'),
      url('../../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Light.woff2') format('woff2'),
      url('../../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Style Script';
  src: url('../../fonts/StyleScript-Regular.woff2') format('woff2'),
      url('../../fonts/StyleScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satisfy';
  src: url('../../fonts/Satisfy-Regular.woff2') format('woff2'),
      url('../../fonts/Satisfy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}