@use '../abstract/mixins';
.nav {
  @include mixins.flex();

  &__profile {
    @include mixins.flex();
    gap: 1rem;
    margin: 0;
  }

  &__option {
    @include mixins.flex();
    gap: 1rem;
  }

  &__img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: .4rem;
  }

  &__icon {
    transform: border-color .1s .3s;
  }

  &__link {
    &-text {
      text-transform: capitalize;
    }
  }
}